<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CreacionesNormita</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="~/CreacionesNormita.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar">
            <!-- Logo -->
            <a href="/" class="logo">
                <div class="logo-circle">CN</div>
                Creaciones Normita
            </a>

            <!-- Menú -->
            <nav>
                <a asp-page="/Index" class="active">Inicio</a>
                <a asp-page="/Catalogo">Catálogo</a>
                <a asp-page="/SobreNosotros">Sobre nosotros</a>
                <a asp-page="/Contacto">Contacto</a>
            </nav>

            <!-- Redes -->
            <div class="social">
                <a href="#">Fb</a>
                <a href="#">Tt</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


     <footer class="footer">
  <div class="container">
    <p class="brand"><strong>Creaciones Normita © 2025</strong></p>
    <p class="desc">Vestidos de quinceaños y eventos especiales en El Salvador</p>

    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
      <span class="divider">|</span>
      <a href="mailto:contacto@creacionesnormita.sv">
        <i class="fas fa-envelope"></i> contacto@creacionesnormita.sv
      </a>
      <span class="divider">|</span>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
