<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Creaciones Normita</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- HEADER / NAVBAR -->
    <header>
        <div class="navbar">
            <!-- Logo -->
            <a href="/" class="logo">
                <div class="logo-circle">CN</div>
                Creaciones Normita
            </a>

            <!-- Menú -->
            <nav>
                <a asp-page="/Index" class="active">Inicio</a>
                <a asp-page="/Catalogo">Catálogo</a>
                <a asp-page="/SobreNosotros">Sobre nosotros</a>
                <a asp-page="/Contacto">Contacto</a>
            </nav>

            <!-- Redes -->
            <div class="social">
                <a href="#">Fb</a>
                <a href="#">Tt</a>
            </div>
        </div>
    </header>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container-footer">
            <p>&copy; 2025 - Creaciones Normita | Todos los derechos reservados</p>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




